[viewBag]

[builderList]
modelClass = "BraulioBarros\Servicos\Models\Servico"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "id"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
{% set servicos = builderList.records %}


<div class="container">
        
            <div class="section-header">
                <h2 class="section-title text-center wow fadeInDown">Nossos Serviços</h2>
                <p class="text-center wow fadeInDown">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
                  
            </div>


            <div class="row">
               
                <div class="features">              
                   
                    {% for servico in servicos %}
                    
                       
                    <div class="col-md-4 col-sm-6 wow fadeInUp animated" data-wow-duration="300ms" data-wow-delay="0ms" style="visibility: visible; animation-duration: 300ms; animation-delay: 0ms; animation-name: fadeInUp;">                    
                           
                            <div class="media service-box">
                                
                                <div class="pull-left">
                                        <img class="img-responsive" style="border-radius: 100%;"src="{{ servico.imagem.thumb(150, 150, 'crop') }}" alt="{{servico.nome}}">
                                        
                                </div>
                                <div class="media-body">
                                
                                    <h4 class="media-heading" >{{servico.nome}}</h4>                                               
                                        
                                    <p>{{servico.descricao}}</p>
                                                                                
                                </div>
                            </div>
                    </div><!--/.col-md-4-->  
                     {% endfor %} 
                </div>          
            </div><!--/.row-->    
        </div><!--/.container-->
       